<header class="avtech-header">
<div class="logo-container">
  <img class="logo-img" src="assets/avtech-logo.jpg" alt="AVtech Logo" />
  <div class="logo-text-content">
    <h1 class="logo-text">AVtech Company</h1>
    <p class="tagline">Innovating Your Digital Future</p>
  </div>
</div>

  <nav class="nav-links">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/career">Career</a>
    <div class="dropdown">
<span >More</span>

      <div class="dropdown-content">
        <a routerLink="/services">Services</a>
        <a routerLink="/blog">Blog</a>
      </div>
    </div>
  </nav>
</header>